html, body {
    margin: 0;
    padding: 0px;
    background: #ffffff;
    height: 100%;
    font-family: "Trebuchet MS","Lucida Grande",arial;
    color: #594b26;
}
.page {
    margin: auto;
}
.container {
    width: 100%;
    margin: 0;
    padding: 0px;
    border: none;
    background: #ffffff;
    border-radius: 10px;
}
.content {
    margin: 0;
}
.logo {
    transform: rotate(-5deg);    
    background: #6c5a2d;
    color: #d5c397;
    font-family: "monospace";
    font-weight: bold;
    padding: 1em 0em 0em 1em;
    border-radius: 2px;    
}
.topbar {
    display: flex;
    flex-wrap: nowrap;    
    background: #d5c397; 
    margin: 0em;
}
.topbar-title {    
    white-space: nowrap;
    font-weight: bold;
    padding: 0.5em 0.5em 0.5em 0.25em;
}
.topbar-sep {
    flex-grow: 1;
}
.topbar-title a:link {
    text-decoration: none;
    color: #594b26;    
}
.topbar-title a:visited {
    text-decoration: none;
    color: #594b26;    
}
.topbar-menu {
    background: inherit;
    padding: 0.25em;
    margin: 0;
}
.banner {  
    background: #d5c397;
}
.alternate {  
    background: #f7f5ed;
    text-align: center;
}
.section {  
    display: flex;
    width: 100%;
    padding: 0 0 0 0;     
}
.pagination {
    display: block;
    font-size: 0.75em;
    margin: 0;
    padding: 1em;
    text-align: center;
}

.pagination a {
    display: inline-block;
    width: 1.5em;
    height: 1em;
    padding: 0.25em;
    border: 1px solid #a28744;
}

.pagination a[aria-disabled="true"] {
    color: #efebdc;
    border: 1px solid #efebdc;
}

.pagination a:link {
    text-decoration: none;
    background: #f7f5ed;    
}

.pagination a:visited {
    text-decoration: none;
    color: #a28744;    
    background: #f7f5ed;
}

.pagination ul {
    display: inline;
    margin: auto;
}

.pagination li {
    display: inline-block;
    list-style-type: none;
    padding: 0em;    
    margin: 2px;
    vertical-align: middle;
}

@media only screen and (max-width: 992px) {
    .page { width: 100%; padding: 0; }
    .content { width: 100%; padding: 0; font-size: 14pt; line-height: 130%; }
    .topbar { padding: 0; margin: 0em; align-items: center; }
    .topbar-title { font-size: 1em; }
    .logo { font-size: 0.75em; }     
    .section { flex-direction: column; }
    .column{ width: 95%; margin: auto; }
    .pagination { font-size: 1.5em; }
}

@media only screen and (min-width: 992px) {
    .page{ width: 70%; }
    .content { width: 100%; line-height: 150%; }
    .topbar { padding: 0em 0.5em; align-items: flex-start; }
    .topbar-title { font-size: 2em; }
    .topbar-menu { font-size: 12pt; }
    .logo { font-size: 0.4em; } 
    .section { flex-direction: row;}
    .column { margin: 0.5em; width: 100%;}
    .banner { box-sizing:border-box; padding: 1em 1em 1em 1em; }
    .banner h1 { font-size: 96pt; }
    .pagination { font-size: 2em; }    
}
