.ace-whiley .ace_gutter {    
  background:  #fff5cc;
  color: #8F908A
}

.ace-whiley .ace_print-margin {
  width: 1px;
  background: #555651
}

.ace-whiley {
    background-color: #fff5cc;
    color: #594b26;
    font-size: 12pt;
}

.ace-whiley .ace_cursor {
  color: #F8F8F0
}

.ace-whiley .ace_marker-layer .ace_selection {
  background: #49483E
}

.ace-whiley.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #272822;
}

.ace-whiley .ace_marker-layer .ace_step {
  background: rgb(102, 82, 0)
}

.ace-whiley .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #49483E
}

.ace-whiley .ace_marker-layer .ace_active-line {
    background: #e0d6b8;
}

.ace-whiley .ace_gutter-active-line {
    background: #e0d6b8;    
  background-color: #22020;
}

.ace-whiley .ace_marker-layer .ace_selected-word {
  border: 1px solid #49483E
}

.ace-whiley .ace_invisible {
  color: #52524d
}

.ace-whiley .ace_entity.ace_name.ace_tag,
.ace-whiley .ace_keyword,
.ace-whiley .ace_meta.ace_tag,
.ace-whiley .ace_storage {
    color: #594c27;
    font-weight: bold;
}

.ace-whiley .ace_punctuation,
.ace-whiley .ace_punctuation.ace_tag {
  color: #fff
}

.ace-whiley .ace_constant.ace_character,
.ace-whiley .ace_constant.ace_language,
.ace-whiley .ace_constant.ace_numeric,
.ace-whiley .ace_constant.ace_other {
    color: #AE81FF;	       
}

.ace-whiley .ace_invalid {
  color: #F8F8F0;
  background-color: #F92672
}

.ace-whiley .ace_invalid.ace_deprecated {
  color: #F8F8F0;
  background-color: #AE81FF
}

.ace-whiley .ace_support.ace_constant,
.ace-whiley .ace_support.ace_function {
  color: #66D9EF
}

.ace-whiley .ace_fold {
  background-color: #A6E22E;
  border-color: #F8F8F2
}

.ace-whiley .ace_storage.ace_type,
.ace-whiley .ace_support.ace_class,
.ace-whiley .ace_support.ace_type {
  font-style: italic;
  color: #66D9EF
}

.ace-whiley .ace_entity.ace_name.ace_function,
.ace-whiley .ace_entity.ace_other,
.ace-whiley .ace_entity.ace_other.ace_attribute-name,
.ace-whiley .ace_variable {
  color: #A6E22E
}

.ace-whiley .ace_variable.ace_parameter {
  font-style: italic;
  color: #FD971F
}

.ace-whiley .ace_string {
  color: #E6DB74
}

.ace-whiley .ace_comment {
    color: #75715E;
    font-style: italic;
}

.ace-whiley .ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWPQ0FD0ZXBzd/wPAAjVAoxeSgNeAAAAAElFTkSuQmCC) right repeat-y
}
