html, body {
    margin: 0;
    padding: 0px;
    background: #ffffff;
    height: 100%;
    font-family: Helvetica; 
}
.container {
    width: 100%;
    margin: 0;
    padding: 0px;
    border: none;
    background: #ffffff;
    border-radius: 10px;
}
.content {
    color: #594b26;
    margin: 0;
    padding: 0;
}
.topbar {
    display: flex;
    flex-wrap: nowrap;    
    background: #d5c397;
    margin: 0em;
}
.topbar-title {
    white-space: nowrap;
    font-weight: bold;
    padding: 0.5em 0.5em 0.5em 0.25em;
    flex-grow: 1;
}
.topbar-menu {
    background: inherit;
    padding: 0.25em;
    margin: 0;
}
.banner {
    background: #d5c397;
    width: 100%;
    padding: 2em;
}
@media only screen and (max-width: 992px) {    
    .content { width: 90%; padding: 5%; font-size: 14pt; line-height: 130%; }
    .topbar { padding: 0em; margin: 0em; align-items: center; }
    .topbar-title { font-size: 1em; }
}

@media only screen and (min-width: 992px) {
    .content { width: 100%; line-height: 150%; }
    .topbar { padding: 0em 0.5em; align-items: flex-start; }
    .topbar-title { font-size: 2em; }
    .topbar-menu { font-size: 12pt; }
}
