html, body {
    margin: 0;
    padding: 0px;
    background: #ffffff;
    height: 100%;
    font-family: Helvetica;
    color: #594b26;    
}
.container {
    width: 100%;
    margin: 0;
    padding: 0px;
    border: none;
    background: #ffffff;
    border-radius: 10px;
}
.content {
    margin: 0;
    padding: 0;
}
.logo {
    transform: rotate(-5deg);    
    background: #6c5a2d;
    color: #d5c397;
    font-family: monospace;
    font-size: 0.75em;
    font-weight: bold;
    padding: 1.5em 0em 0em 1.5em;
    border-radius: 2px;    
}
.topbar {
    display: flex;
    flex-wrap: nowrap;    
    background: #d5c397;
    margin: 0em;
}
.topbar-title {    
    white-space: nowrap;
    font-weight: bold;
    padding: 0.5em 0.5em 0.5em 0.25em;
}
.topbar-sep {
    flex-grow: 1;
}
.topbar-title a:link {
    text-decoration: none;
    color: #594b26;    
}
.topbar-title a:visited {
    text-decoration: none;
    color: #594b26;    
}
.topbar-menu {
    background: inherit;
    padding: 0.25em;
    margin: 0;
}
.banner {  
    background: #d5c397;
}
.alternate {  
    background: #eeeeee;
}
.section {  
    display: flex;
    padding: 0 10% 0 10%;
    width: 80%;
}
.column {
    width: 100%;
    padding: 1em;
}
@media only screen and (max-width: 992px) {    
    .content { width: 90%; padding: 5%; font-size: 14pt; line-height: 130%; }
    .topbar { padding: 0em; margin: 0em; align-items: center; }
    .topbar-title { font-size: 1em; }
}

@media only screen and (min-width: 992px) {
    .content { width: 100%; line-height: 150%; }
    .topbar { padding: 0em 0.5em; align-items: flex-start; }
    .topbar-title { font-size: 2em; }
    .topbar-menu { font-size: 12pt; }
}
